body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Shrikhand, Roboto, sans-serif;
  margin-left: 20px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 30px 0px 30px;
}

p {
  font-size: 17px;
}

ul {
  list-style: none;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

h3,
p {
  text-decoration: none;
}

p {
  font-size: 14px;
}

footer {
  padding: 10px 20px;
  background-color: #353535;
  color: white;
  text-align: justify;
}
@media screen and (min-width: 1025px) {
  footer {
    text-align: center;
  }
}
footer h1 {
  font-size: 17px;
  font-weight: normal;
  margin: 8px;
}
@media screen and (min-width: 1025px) {
  footer h1 {
    font-size: 20px;
  }
}

ul {
  padding: 10px 0px;
}

li {
  list-style: none;
  margin: 8px;
}

.fa-utensils {
  margin-right: 8px;
  font-size: 13px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.header__Title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__Img {
  padding: 20px 0px 20px 0px;
  width: 150px;
}

/*page palette du gout*/
.banniere__Img {
  width: 100%;
  min-height: 100px;
  max-height: 280px;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .banniere__Img {
    max-height: 400px;
  }
}

.menu__Title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu__Title .heart {
  margin-top: 25px;
  font-size: 25px;
}

.line {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px;
}

.btn__Explore {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 8px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 1px 4px 6px #aaa;
  cursor: pointer;
  width: 55%;
  height: 20%;
}
.btn__Explore:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
@media screen and (min-width: 1025px) {
  .btn__Explore {
    width: 20%;
  }
}

.btn__Order {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 40px 110px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  width: 50%;
  height: 50px;
}
.btn__Order:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
@media screen and (min-width: 1025px) {
  .btn__Order {
    width: 20%;
    align-self: center;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept {
  background: #f6f6f6;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.concept p {
  color: #4d4d4d;
  font-size: 20px;
  padding: 10px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.operation__List {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .operation__List {
    display: flex;
    flex-direction: row;
  }
}
.operation__List li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  margin: 15px 20px 15px 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
  width: 70%;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .operation__List li {
    flex-wrap: wrap;
    margin: 50px 50px;
    width: 20%;
  }
}
.operation__List li:hover {
  background-color: #f2eafb;
}
.operation__List li:hover .operation__List--icon {
  color: #9356dc;
}
.operation__List li p {
  font-weight: 500;
  font-size: 16px;
  margin-left: 35px;
}

.operation__List--icon {
  color: grey;
  font-size: 1.2rem;
  margin-left: 30px;
}

.operation__List--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -17px;
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  top: calc(50%-17px);
}

.menu {
  justify-content: center;
}

.restaurants {
  background-color: #f2f2f2;
}

h2 {
  padding-top: 20px;
}
@media screen and (min-width: 1025px) {
  h2 {
    text-align: center;
  }
}

.tableauRestaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  padding: auto;
}
@media screen and (min-width: 1025px) {
  .tableauRestaurants {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    justify-content: center;
    column-gap: 5px;
    row-gap: 25px;
  }
}

.menuRestaurant {
  display: grid;
  height: 250px;
  box-sizing: border-box;
  border: 5px #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #fff;
  margin: 30px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .menuRestaurant {
    width: 80%;
    margin: 30px auto;
  }
}
.menuRestaurant img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menuDescription {
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.menuDescription h3 {
  margin-top: 15px;
  margin-left: 10px;
}

.menuDescription p {
  margin-top: 4px;
  margin-left: 10px;
}

.heart {
  padding: 0;
  font-size: 25px;
  width: 20px;
  margin: 20px;
}

.empty-Heart {
  position: absolute;
}

.full-Heart {
  color: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
.full-Heart:hover {
  opacity: 1;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps__Search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.flag-New {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

p {
  margin: 5px 10px 5px 10px;
}

.conteneurMenu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
  margin-top: -50px;
}
@media screen and (min-width: 1025px) {
  .conteneurMenu {
    margin-right: 80px;
    margin-left: 80px;
  }
}

.banniere__Img {
  width: 100%;
  min-height: 100px;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .banniere__Img {
    max-height: 400px;
  }
}

.menu__Title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  .menu__Title {
    justify-content: space-between;
  }
}
.menu__Title .heart {
  margin-top: 25px;
  font-size: 25px;
}

.heart {
  font-size: 25px;
  width: 20px;
  margin-right: 20px;
}

.arrow {
  position: absolute;
  left: 20px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px #aaa;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  text-align: left;
}
@media screen and (min-width: 1025px) {
  .meals {
    padding: 15px;
    width: 100%;
  }
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.last__line span {
  margin-right: 5px;
}

.meals h4 {
  margin: 0;
}

.starter h3,
.dish h3,
.dessert h3 {
  padding-left: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.last__line p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .dish__Card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
