.btn__Explore {
  @include btn-Style;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 8px 5px;
  color: #fff;
  box-shadow: -1px 4px 6px #aaa;
  width: 55%;
  height: 30%;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
  }
  @include desktop {
    width: 20%;
  }
}
.btn__Order {
  @include btn-Style;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 40px;
  color: #fff;
  box-shadow: -1px 1px 6px #aaa;
  width: 50%;
  height: 50px;
  align-self: center;
  &:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
  }
  @include desktop {
    width: 20%;
  }
}
