.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept {
  background: #f6f6f6;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.concept p {
  color: #4d4d4d;
  font-size: 20px;
  padding: 10px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.operation__List {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    display: flex;
    flex-direction: row;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 15px 20px 15px 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
    width: 70%;
    position: relative;
    @include desktop {
      flex-wrap: wrap;
      margin: 50px 50px;
      width: 20%;
    }

    &:hover {
      background-color: #f2eafb;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      margin-left: 35px;
    }
  }
}

.operation__List--icon {
  color: grey;
  font-size: 1.2rem;
  margin-left: 30px;
  &:hover {
    color: #9356dc;
  }
}
.operation__List--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -17px;
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  top: calc(50%-17px);
}

.menu {
  justify-content: center;
}

.restaurants {
  background-color: #f2f2f2;
}

h2 {
  padding-top: 20px;
  @include desktop {
    text-align: center;
  }
}

.tableauRestaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  padding: auto;
  @include desktop {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-content: center;
    column-gap: 5px;
    row-gap: 25px;
  }
}

.menuRestaurant {
  display: grid;
  height: 250px;
  box-sizing: border-box;
  border: 5px #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #fff;
  margin: 30px;
  position: relative;
  cursor: pointer;
  @include desktop {
    width: 80%;
    margin: 30px auto;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}

.menuDescription {
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.menuDescription h3 {
  margin-top: 15px;
  margin-left: 10px;
}

.menuDescription p {
  margin-top: 4px;
  margin-left: 10px;
}

.heart {
  font-size: 25px;
  width: 20px;
  margin: 20px;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps__Search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.flag-New {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: $color-tertiary;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

p {
  margin: 5px 10px 5px 10px;
}
