@media screen and (max-width: 700px){
footer {
    flex-direction: column;
    padding: 25px;
    margin-bottom: 1%;
    background-color: #353535;
    color:white;
    ul li {
        padding: 5px 0 5px 0;
      }
  }



  .fa-utensils {
    margin-right: 12px;
  }
  .fa-hands-helping {
    margin-right: 5px;
  }

}