@media screen and (max-width: 700px){
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #353535;
    color:white;
    text-align:justify;

    h1{ font-size: 17px;
        padding: 10px;

    }
  }



  .fa-utensils {
    margin-right: 8px;
    font-size: 13px;
  }
  .fa-hands-helping {
    margin-right: 5px;
  }

}