.header__Title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__Img {
  padding: 20px 0px 20px 0px;
  width: 150px;
}
/*page palette du gout*/

.banniere__Img {
  width: 100%;
  min-height: 100px;
  max-height: 280px;
  object-fit: cover;
  @include desktop {
    max-height: 400px;
  }
}

.menu__Title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .heart {
    margin-top: 25px;
    font-size: 25px;
  }
}
